<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name='description' content='{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}'>

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content="{{ page.title }}" />
  <meta property="og:description" content="{{ page.excerpt | strip_html | escape }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
  <meta property="og:image" content="{{ site.url }}{{ page.image | default: site.author.avatar }}" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ page.title }}" />
  <meta name="twitter:description" content="{{ page.excerpt | strip_html | escape }}" />
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}" />
  <meta name="twitter:image" content="{{ site.url }}{{ page.image | default: site.author.avatar }}" />

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">

  <!-- Ionicons -->
  <link href="https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css" rel="stylesheet">

  <style>
  {% capture include_to_scssify %}
    {% include main.scss %}
  {% endcapture %}
  {{ include_to_scssify | scssify }}
  </style>
</head>
